# Исключаем системные и временные файлы
.DS_Store
Thumbs.db

# Файлы, генерируемые компилятором
*.exe
*.out
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.dylib

# Логи и файлы отладки
*.log
*.pdb
*.ilk
*.map

# Файлы настроек среды разработки VSCode
.vscode/
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json

# Временные и промежуточные файлы
*.tmp
*.temp
*.bak
*.swp
*.swo
*.swn

# Сгенерированные каталоги сборки
build/
cmake-build-*/

# Конфигурационные файлы CMake
CMakeCache.txt
CMakeFiles/
Testing/

# Минимизация бинарных файлов
*.bin

# Файлы и каталоги MSYS2
/msys64/
mingw/
usr/
